<div>
  <div>
    <h1>
      Current company #<%= @the_current_company.id %> details
    </h1>

    <div>
      <div>
        <a href="/current_companies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_current_company/<%= @the_current_company.id %>">
          Delete current company
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_current_company.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_current_company.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit current company
    </h2>

    <form action="/modify_current_company/<%= @the_current_company.id %>"  method="post" >
      <button>
        Update current company
      </button>
    </form>
  </div>
</div>

<hr>
